.header {
    color: blue;
    background-color: blanchedalmond;
    font-size: 40px;
    float: left;
}

.detail {
    color: blueviolet;
    background-color: cadetblue;
    font-size: 20px;
    float: inline-end;
}

.Footer {
    color: violet;
    background-color: yellow;
    clear: both;
    margin-top: 60px;
}

.font {
    font-family: Helvetica;
}