body {
    margin: 0;
    padding: 0;
    font: 15px/1.5, Helvetica, Arial, sans-serif;
    background: white;
    < !--ความสูงของแต่ละบรรทัด 1.5 lineheight-->
}

Header {
    background-color: rgb(39, 33, 33);
    border-bottom: rgb(142, 143, 141) 2px solid;
    min-height: 80px;
    padding: 15px 50px;

}

.branding {
    float: left;
    margin-left: 15px;
    font-size: 20px;
    margin-top: -5px;
}

ul {
    margin-top: 6px;
    padding: 0;
}

header nav {
    float: right;
    margin-top: 20px;
}

header li {
    display: inline-block;
    padding: 0 12px;
}

header a:hover {
    color: whitesmoke;
}

header a {
    text-decoration: none;
    color: #757070;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

}

.Banner {
    width: 100%;
    height: 20%;

}

table {
    width: 30%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid#9695da;
    padding: 15px;

}

tr:nth-child(even) {
    background-color: #aaa4a4;
}
aside{
    padding: 2%;
    margin-top: 3%;
    background-color: #bbb9b9;
    text-transform: uppercase;
}

.Footerimage{
    width: 120px;
    height: 80px;
}
footer{
    background-color: black;
    color: white;
    padding: 2%;
    min-height: 65px;
}
.Footer_Left{
float: left;
}
.Footer_Right{
float: right;
}
.Footer_Right div{
    font-size: 12px;
}